.card {
    display: flex;
    flex-wrap: wrap;

    &__list {
        @media screen and (min-width: 768px) {
                margin-left: -30px;
            }

    }
    
    &__item {
            width: 450px;
            cursor: pointer;
            margin-bottom: 30px;
            &:last-child {
                    margin-bottom: 0px;
                }

            @media screen and (min-width: 768px) {
                        width: calc(100% / 2 - 30px);
                        margin-left: 30px;

                    }

            @media screen and (min-width: 1200px) {
                width: 370px;
                &:nth-child(3n) {
                        margin-right: 0px;
                    }
                
                    &:nth-last-child(-n+3) {
                        margin-bottom: 0px;
                    }
            }
           
        }

    &__link {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {

            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                        0px 4px 4px rgba(0, 0, 0, 0.06),
                        1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__wrap {
        position: relative;
        overflow: hidden;
        }
     



    &__meta {
        width: 100%;
        position: absolute;
        top: 0;
        margin: 0px;
        font-size: 18px;
        line-height: 1.56;
        color: var(--bcg-first-color);
        background-color: rgba(33, 150, 243, 0.9);
        padding: 77px 24px;
        transform: translateY(100%);
        transition: transform 250ms;
        @media screen and (max-width: 479px) {
            overflow: visible;
            overflow-y: scroll;
            }
    }

    &__border {
        flex-grow: 1;
        border: 1px solid #EEEEEE;
        border-top: 0px;
        padding: 20px 24px;
    }

    &__title {
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        text-align: left;
        margin: 0px;
    }

    &__description {

        line-height: 1.88;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--first-text-color);
        margin: 0px;
    }

}

.card__item:hover .card__meta {
    transform: translateY(0%);
}

.card__focus-link:focus .card__meta {
    transform: translateY(0%);
}