
body {
    font-family: "Roboto", sans-serif;
    color: var(--first-header-color);
    background-color: var(--bcg-first-color);
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.section {
     padding: 60px 0px;

    @media screen and (min-width: 1200px) {
        padding: 94px 0px;
    }
   }

img {
    display: block;
    max-width: 100%;
    height: auto;
}