
.form {
    display: flex;
    flex-direction: column;
    align-items:center;

    @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
                }
        

    &__wrap {
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
                margin-bottom: 0px;
            }
    }

    &__label {
        background-color: transparent;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, .3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        outline: none;

        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
        border-color: var(--accent-text-color);
        }
                @media screen and (max-width: 479px) {
                    width: 250px;
                }

                @media screen and (min-width: 768px) {
                    width: 450px;
                }

                @media screen and (min-width: 1200px) {
                    width: 358px;
                    margin-right: 12px;
                }
}

    &__btn {
        background-color: var(--bcg-btn-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 200px;
        height: 50px;
    
        color: var(--bcg-first-color);
        border-color: transparent;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88px;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding-left: 29px;
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus, &:hover {
                color: var(--btn-color);
                background-color: var(--bcg-btn-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                            0px 1px 2px rgba(0, 0, 0, 0.08),
                            0px 2px 2px rgba(0, 0, 0, 0.12);
            }
    }

    &__icon {
        margin-left: 10px;
    }

}
