.modal {
    &__wrap-input {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 42px;
        outline: none;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            border-color: var(--accent-text-color);
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    }

    &__textarea {
        display: block;
        resize: none;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: transparent;
    
        outline: none;
        padding: 12px 16px 12px 16px;
    
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus {
            border-color: var(--accent-text-color);
        }
    }

}

.modal__input:focus+.modal__icon {
    fill: var(--accent-text-color);
}

.modal__field--margin {
    margin-bottom: 20px;
}
