.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    color: var(--first-header-color);
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    @media screen and (min-width: 768px) {
            padding: 26px 0px;
            padding-right: 93px;
            }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        padding-top: 24px;
        padding-bottom: 25px;
        // padding-left: 200px;
        }

    &__web {

        color: var(--accent-text-color);
    }
}

