:root {
    --first-header-color: #212121;
    --second-header-color: #757575;
    --first-title-color: #FFFFFF;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --btn-color: #FFFFFF;
    --bcg-btn-color: #2196F3;
    --bcg-first-color: #FFFFFF;
    --bcg-second-color: #F5F4FA;
    --bcg-accent-color: #2F303A;
    --icons-color: #AFB1B8;
}