.client {
    
    &__title {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: inherit;
        margin: 0px;
        margin-bottom: 30px;
        padding: 0px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        padding: 0px;
        align-content: center;

     

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            }





    }

    &__item {
        cursor: pointer;
        // width: calc(100% / 2 - 30px);
        margin: 15px;
        align-items: center;
        width: 210px;
        height: 92px;    


        @media screen and (max-width: 479px) {
            width: calc(100% / 2 - 30px);
        }


        @media screen and (min-width: 768px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            // margin-bottom: 0px;
            width: 170px;
            // margin-right: auto;
        }
    }

    &__link {
        width: 100%;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--first-text-color);
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
                border-color: var(--accent-text-color);
            }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--icons-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.client__link:hover .client__icon {
    fill: var(--accent-text-color);
}

.client__link:focus .client__icon {
    fill: var(--accent-text-color);
}