
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
    

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (min-width: 480px) {
                width: 480px;
        
            }
        
            @media screen and (min-width: 768px) {
                width: 768px;
                justify-content: center;
            }
        
            @media screen and (min-width: 1200px) {
                width: 1200px;
                justify-content: center;
                max-width: 1600px;
            }
        
        }

    &__nav {
        display: none;

        @media screen and (min-width: 768px) {
                display: flex;
            }
    }

    &__list {
        display: none;
        @media screen and (min-width: 768px) {
            position: relative;
            display: flex;
             }

             @media screen and (min-width: 1200px) {
                position: relative;
                display: flex;
                 }

        
        
    }

    &__item {
        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 48px;
            height: 4px;
            background-color: var(--accent-text-color);
            opacity: 0;
            border-radius: 2px;
        }
        &:hover::after {
            opacity: 1;
        }
        &:nth-child(2)::after {
            width: 76px;
        }
        &:last-child::after {
            width: 67px;
        }
    }

    &__current-item {
        &::after {
                position: absolute;
                content: "";
                bottom: 0;
                width: 48px;
                height: 4px;
                background-color: var(--accent-text-color);
                border-radius: 2px;
                opacity: 1;
        }
    }

    &__link {
        color: var(--first-header-color);
        padding: 32px 0px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            color: var(--accent-text-color);
        }
    }
}


.header__item + .header__item {
    margin-left: 50px;
}

.header__current-item--size::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 76px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    opacity: 1;
    
}

.header__link--current {
    color: var(--accent-text-color);
}



@media screen and (min-width: 768px) {
        .header__list-name {
            display: block;
    }
}


.header__menu-btn, .header__close-btn {
    background-color: transparent;
    border: transparent;
    display: block;
    cursor: pointer;
 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

    &:hover, &:focus {
        fill: var(--accent-text-color);
    }
     

}

.no-scroll {
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .header__menu-btn {
        display: none;
    }    
}