.hero {
    letter-spacing: 0.06em;
    @media screen and (max-width: 480px) {
            display: flex;
            height: 400px;
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width: 1200px) {
            height: 600px;

        }




    &__container 
     {
        @media screen and (min-width: 480px) {
                width: 360px;
            }
        
            @media screen and (min-width: 768px) {
                width: 360px;
            }
        
            @media screen and (min-width: 1199.98px) {
                width: 696px;
            }
         }



    &__bcgi {

            background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                url('../images/mobile-bcgi.jpg');
            background-color: var(--bcg-accent-color);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            margin: 0px auto;
           
            @media screen and (min-width: 480px) {
                    padding-top: 118px;
                        padding-bottom: 118px;
                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                                url('../images/mobile-bcgi-2x.jpg');
                        }
            }

            @media screen and (min-width: 768px) {
                    padding-top: 118px;
                    padding-bottom: 118px;
                    background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                    url('../images/tablet-bcgi.jpg');
                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                                url('../images/tablet-bcgi-2x.jpg');
                        }
                    
                }

            @media screen and (min-width: 1200px) {
                padding-top: 200px;
                padding-bottom: 200px;
                background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                        url('../images/Imgbcg.jpg');
                        @media (min-device-pixel-ratio: 2),
                            (min-resolution: 192dpi),
                            (min-resolution: 2dppx) {
                                background-image: linear-gradient(rgba(47, 48, 58, .4), rgba(47, 48, 58, .4)),
                                    url('../images/desktop-bcgi-2x.jpg');
                            }
                            width: 100%;
                            max-width: 1600px;
                            
                        }
            }
    

    &__title {
        width: 100%;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--first-title-color);
        margin: 0px auto 30px auto;
        

        @media screen and (min-width: 480px) {
            width: 360px;

        }

        @media screen and (min-width: 768px) {
            width: 360px;

        }
        

        @media screen and (min-width: 1200px) {
                font-size: 44px;
                line-height: 1.36;
                width: 696px;
                
            }
     

        
        
    }

}
